<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Car select form-->
<th:block th:fragment="carSelectByMake">
    <form method="get" class="my-3">
        <h3>Select car by make</h3>
        <div class="form-group">
            <label for="carMake">Pick Make</label>
            <input type="text" class="form-control" id="carMake" name="make">
        </div>
        <button type="submit" class="btn btn-block btn-outline-info">Submit</button>
        <a href="/cars/add" class="btn btn-block btn-outline-warning">Add car</a>
    </form>
</th:block>

<!--Car table-->
<th:block th:fragment="carTable">
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Make</th>
                <th scope="col">Model</th>
                <th scope="col">Traveled Distance</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${cars}" th:object="${car}">
                <td th:text="*{make}"></td>
                <td th:text="*{model}"></td>
                <td th:text="*{travelledDistance}"></td>
                <td><a th:href="@{/cars/details/{id} (id=*{id})}">Details</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
<!--Car detailed View-->
<th:block th:fragment="carDetails">
    <div class="row justify-content-md-center">
        <div class="card bg-light my-2 col-md-6">
            <div class="card-header">Car details</div>
            <div class="card-body">
                <p class="card-text" th:text="'Make: ' + ${car.getMake()}"></p>
                <p class="card-text" th:text="'Model: ' + ${car.getModel()}"></p>
                <p class="card-text" th:text="'Traveled distance: ' + ${car.getTravelledDistance()}"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h6>Parts:</h6>
                </li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:each="part : ${parts}" th:object="${part}">
                    <p class="card-text" th:text="*{name}"></p>
                    <p class="card-text" th:text="'price: ' + *{price} + '$'"></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <a href="/cars" class="btn btn-outline-primary col-md-6">Get back</a>
    </div>
</th:block>

<!--Car add form-->
<th:block th:fragment="carAddForm">
        <form method="post" th:object="${car}">
            <h3>Edit customer</h3>
            <div class="form-group">
                <label for="carMake">Make</label>
                <input type="text" class="form-control" id="carMake" th:value="*{make}" th:field="*{make}" required>
            </div>
            <div class="form-group">
                <label for="carModel">Model</label>
                <input type="text" class="form-control" id="carModel" th:value="*{model}" th:field="*{model}" required>
            </div>
            <div class="form-group">
                <label for="carTravelledDistance">Travelled Distance</label>
                <input type="number" class="form-control" id="carTravelledDistance" th:value="*{travelledDistance}" th:field="*{travelledDistance}" required>
            </div>
            <button type="submit" class="btn btn-primary">Add car</button>
        </form>
</th:block>
</body>
</html>