<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/bootstrap-fragments:: bootstrapHead}">
</head>
<body>
<th:block th:replace="~{fragments/bootstrap-fragments:: bootstrapNavBar}">
</th:block>
<div class="container">
    <th:block th:replace="~{fragments/part-fragments:: partDeleteForm}">
    </th:block>
</div>
<th:block th:replace="~{fragments/bootstrap-fragments:: bootstrapJS}">
</th:block>
</body>
</html>